<div class="row py-2">
  <div class="col-1 text-center my-auto">
    <i class="fa fa-bars"></i>
  </div>
  <div class="col-md-1 col-2 my-auto p-0">
    <h5 class="m-0"><span style="border-bottom: 1px solid #000;">HR</span> User</h5>
  </div>
  <div class="col-md-1 col-2 my-auto pl-0 pr-1 text-right">
    <span>language</span>
  </div>
  <div class="col-md-2 col-3 p-0 my-auto">
    <span class="switcher switcher-1">
      <input type="checkbox" id="switcher-1">
      <label for="switcher-1"></label>
    </span>
  </div>
  <div class="col-4 my-auto">
    <div class="icons_navbar">
      <i class="fa fa-envelope"></i>
      <i class="fa fa-question-circle"></i>
      <i class="fa fa-cog"></i>

      <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
          class="fa fa-sort-down"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
    </div>
  </div>
</div>
