<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <app-navebar></app-navebar>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"> <i class="fa fa-plus"></i>
              Add Employee</button>
          </div>
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-plus"></i>
              Add filter</button>
          </div>
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"> <i
                class="fa fa-download"></i> Export</button>
          </div>

        </div>
      </div>
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>fullName</th>
              <th>department</th>
              <th>position</th>
              <th>salary</th>
              <th>employeeJobStatuses</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employee | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: pageitem,
                                                      currentPage: page,
                                                      totalItems: totalRecords } ;let i = index ">
              <td>{{i + 1}}</td>
              <td>{{employee.fullName_SL}}</td>
              <td>{{employee.department.name_SL}}</td>
              <td>{{employee.position.name_FL}}</td>
              <td>{{employee.firstContractingSalary}}</td>
              <td>{{employee.employeeJobStatuses[0].status}}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
          </pagination-controls>
        </div>
      </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5 my-auto text-center">
                Add Filter
              </div>
              <div class="col-md-5">
                <select class="form-control">
                  <option>Salary</option>
                </select>
              </div>
              <div class="col-12 my-2">
                <select class="form-control">
                  <option>Between</option>
                </select>
              </div>
              <div class="col-5">
                <input class="form-control" type="text" [(ngModel)]='term' (keyup)="search($event.target.value)">
              </div>
              <div class="col-2 my-auto">
                and
              </div>
              <div class="col-5">
                <input class="form-control" type="text" [(ngModel)]='term' (keyup)="search($event.target.value)">
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
